{% extends "base.html" %}
{% load static %}

{% block main-tag %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-padding text-center">
            <h1>Welcome</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <h2>Albums</h2>
            <p>Browse our Photo Albums, full of magnificent pictures taken by our many talented members.</p>
            <img class="home-image" src="{% static 'images/gallery.jpg' %}" alt="A photo gallery">
            <div class="text-center">
                <a href="/albums/" class="btn btn-light">Browse around</a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <h2>About us</h2>
            <p>Find out more about the ShutterClickers Photo Club, how to get in contact with us and how to join our
                fellowship.</p>
                <img class="home-image" src="{% static 'images/about.jpg' %}" alt="A photo gallery">
            <div class="text-center">
                <button class="btn btn-light">Join us</button>
            </div>
        </div>
    </div>
</div>
{% endblock main-tag %}