{% extends "base.html" %}

{% block main-tag %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Welcome</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4">
            <h2>Photo Albums</h2>
            <p>Browse the Photo Albums, full of magnificent pictures taken by our many talented members.</p>
            <div class="text-center">
                <button class="btn btn-light">Read more</button>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <h2>Events</h2>
            <p>Read about upcoming events, both organized by ShutterClickers and others.</p>
            <div class="text-center">
                <button class="btn btn-light">Read more</button>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <h2>About us</h2>
            <p>Find out more about the ShutterClickers Photo Club, how to get in contact with us and how to join us.</p>
            <div class="text-center">
                <button class="btn btn-light">Read more</button>
            </div>
        </div>
        {% endblock main-tag %}