/***** Fonts from Google Fonts *****/
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Kumbh+Sans:wght@100..900&display=swap');

/***** root variables *****/
:root {
    --primary-font: "Kumbh Sans", sans-serif;
    --headline-font: "Chango", sans-serif;

    --background-color: #000000;
    --headline-color: #ECE2D0;
    --font-color: #f6f0ed;
    --url-color: #fa8072;
    --url-hover-color: #ba3f1d;
}

/***** html tags *****/

body {
    background-color: var(--background-color);
    font-family: var(--primary-font);
    color: var(--font-color);
}

main {
    padding: 0px;
}

footer {
    padding-top: 2px;
    text-align: center;
}

h1, h2, h3{
    color: var(--headline-color);
    font-family: var(--headline-font);
}

/*h1{
    font-size: large;
 }*/

h2{
    font-size: large;
}

.login-status{
    margin-top: 0px;
}

.login-name{
    display: inline-block;
    background-color: #f8f9fa;  /* Same as btn-light */
    color: var(--background-color);
    margin-left: -3px;
    padding-right: 10px;
    padding-left: 5px;
    transform: skew(-15deg);
}

.unskew{
    transform: skew(15deg);
}

.url a{
   color: var(--url-color);
   text-decoration: none;
}

.url a:hover{
    color: var(--url-hover-color);
    font-weight: bold;
    text-decoration: underline;
}


/***** Grid styling *****/

.col-padding {
    padding: 15px;
}

/***** Navbar styling *****/

#navbar {
    padding: 0px;
}

#nav-area {
    background-color: var(--background-color);
}

.navbar-brand {
    font-family: var(--headline-font);
    color: var(--headline-color);
}

.navbar-toggler {
    border-color: var(--headline-color);
}

/* Set the color of nav Hamburger toggler as rest of nav elements */
/* Code found on https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/ */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath stroke='rgba(236, 226, 208, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24' /%3E%3C/svg%3E");
}

.nav-link {
    font-family: var(--primary-font);
    color: var(--headline-color);
}

.nav-link:hover {
    text-decoration-line: underline;
    color: var(--font-color);
}

/***** Hero section *****/
#hero {
    height: 300px;
    width: 100%;
    background: url("../images/hero.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
  /* Final rbga value sets opacity so it's semi-transparent */
  font-size: 130%;
  position: absolute;
  width: 80%;
  min-height: 200px;
  bottom: 30px;
  padding-top: 40px;
  padding-left: 10px;
}

/***** Albums (albums.html) styling *****/

.album-list{
    display: inline;
 
    padding: 10px;
}

.albums-thumbnail-styling {
    display: inline-block;
    width: 110px;
    height: 110px;
    padding: 5px;
    margin: 2px;
    background-color: #333333;
    border: 1px solid darkgray;
    border-radius: 10%;
}

.albums-preview-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.albums-link {
    text-decoration: none;
}

.albums-link p {
    color: var(--font-color)
}

/***** Album (album.html) styling *****/

.album-photo-thumbnail {
    width: 275px;
    height: 275px;
    object-fit: scale-down;
}

.album-thumbnail-styling {
    width: 100%;
    height: 100%;
    padding: 3px;
    background-color: #333333;
    border: 2px solid darkgray;
    border-radius: 10%;
    

}

.album-thumbnail-styling a {
    color: var(--font-color);
    text-decoration: none;
   
    
}

/***** Photo (photo.html styling *****/
.photo-container {
    border: 2px solid darkgrey;
    border-radius: 5%;
    background-color: #333333;
    width: 320px;
    height: 320px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.photo {
    width: 300px;
    height: 300px;
    object-fit: scale-down;
}

.faded{
    color: darkgrey;
}

.awaiting-approval{
    color: red;
}

/***** Forms and button styling *****/
.btn {
    margin: 10px;
}


/***** Media querys *****/

@media(min-width: 400px) {
    .album-photo-thumbnail {
        width: 375px;
        height: 375px;
    }

    .photo-container {
        width: 380px;
        height: 380px;
    }

    .photo {
        width: 360px;
        height: 360px;
    }
}

@media(min-width: 576px) {
    .album-photo-thumbnail {
        width: 250px;
        height: 250px;
    }

    .photo-container {
        width: 530px;
        height: 530px;
    }

    .photo {
        width: 510px;
        height: 510px;
    }
}

@media(min-width: 768px) {

    .album-photo-thumbnail {
        width: 360px;
        height: 360px;
    }

    .photo-container {
        width: 720px;
        height: 720px;
    }

    .photo {
        width: 700px;
        height: 700px;
    }

}

@media(min-width: 992px) {

    .album-photo-thumbnail {
        width: 290px;
        height: 290px;
    }
}

@media(min-width: 1200px) {

    .album-photo-thumbnail {
        width: 360px;
        height: 360px;
    }
}

@media(min-width: 1400px) {

    .album-photo-thumbnail {
        width: 315px;
        height: 315px;
    }
}

@media(min-width: 1600px) {

    .album-photo-thumbnail {
        width: 360px;
        height: 360px;
    }
}