/***** Fonts from Google Fonts *****/
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Kumbh+Sans:wght@100..900&display=swap');

/***** root variables *****/
:root {
    --primary-font: "Kumbh Sans", sans-serif;
    --headline-font: "Chango", sans-serif;

    --background-color: #000000;
    --headline-color: #ECE2D0;
    --font-color: #f6f0ed;
    --url-color: #fe5d26;
}

/***** html tags *****/

body {
    background-color: var(--background-color);
    font-family: var(--primary-font);
    color: var(--font-color);
}

main {
    padding: 0px;
}

footer {
    padding-top: 2px;
    text-align: center;
}

h1,
h2,
h3 {
    color: var(--headline-color);
    font-family: var(--headline-font)
}

/*h1{
    font-size: large;
 }*/

h2 {
    font-size: large;
}

a {
    color: var(--url-color);
    text-decoration: none;
}

/***** Grid styling *****/

.col-padding {
    padding: 15px;
}

/***** Navbar styling *****/

#navbar {
    padding: 0px;
}

#nav-area {
    background-color: var(--background-color);
}

.navbar-brand {
    font-family: var(--headline-font);
    color: var(--headline-color);
}

.navbar-toggler {
    border-color: var(--headline-color);
}

/* Set the color of nav Hamburger toggler as rest of nav elements */
/* Code found on https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/ */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath stroke='rgba(236, 226, 208, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24' /%3E%3C/svg%3E");
}

.nav-link {
    font-family: var(--primary-font);
    color: var(--headline-color);
}

.nav-link:hover {
    text-decoration-line: underline;
    color: var(--font-color);
}

/***** Hero section *****/
#hero {
    height: 300px;
    width: 100%;
    /*background-color: lightgreen;*/
    background: url("../images/hero.jpg") no-repeat center center/cover;
    position: relative;
}

/***** Albums (albums.html) styling *****/
.preview_thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 5px;
}

.album-link {
    text-decoration: none;
}

.album-link p {
    color: var(--font-color)
}

/***** Album (album.html) styling *****/

.album-photo-thumbnail {
    width: 275px;
    height: 275px;
    border-radius: 5%;
    object-fit: scale-down;
}

.album-thumbnail-styling{
    width: 100%;
    height: 100%;
    padding: 3px;
    background-color: #333333;
    border: 2px solid darkgray;
    border-radius: 10%;
}
.comment-counter{
    color: var(--font-color)
}

/***** Photo (photo.html styling *****/
.photo {
    max-width: 90%;
    object-fit: contain;
}


/***** Forms and button styling *****/
.btn {
    margin: 10px;
}

#cover-text {
    font-size: 130%;
    position: absolute;
    width: 80%;
    min-height: 200px;
    bottom: 30px;
    padding-top: 40px;
    padding-left: 10px;
}

/***** TEST CSS *****/
/***** FOR DEVELOPMENT PURPOSES ONLY *****/
/***** MUST BE REMOVED BEFORE PROJECT SUBMISSION *****/

.test-border {
    border: 1px dashed lightgrey;
}

/***** Media querys *****/

@media(min-width: 400px) {
    .album-photo-thumbnail {
        width: 375px;
        height: 375px;
    }
}

@media(min-width: 576px) {
    .album-photo-thumbnail {
        width: 275px;
        height: 275px;
    }
}

@media(min-width: 768px) {

    .album-photo-thumbnail {
        width: 360x;
        height: 360px;
    }
}

@media(min-width: 992px) {

    .album-photo-thumbnail {
        width: 300px;
        height: 300px;
    }
}

@media(min-width: 1200px) {

    .album-photo-thumbnail {
        width: 375px;
        height: 375px;
    }
}

@media(min-width: 1400px) {

    .album-photo-thumbnail {
        width: 325px;
        height: 325px;
    }
}

@media(min-width: 1600px) {

    .album-photo-thumbnail {
        width: 380px;
        height: 380px;
    }
}