{% extends "base.html" %}
{% load static %}

{% block main-tag %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Albums</h1>
        </div>
    </div>
    <div class="row">
        {% for album, photos, photo_counts in albums_preview %}
        <div class="col-12 col-md-6 col-xl-4 test-border">
            <a href="/albums/{{album.pk}}" class=" album-link">
                <h2>{{album}}</h2>
                <p>{{album.description}}</p>
                <p>Photos in album: {{photo_counts}}</p>
                {% for photo in photos %}
                <img src="{{photo.image.url}}" class="preview_thumbnail" alt="A photograph">
                {% endfor %}

            </a>
        </div>
        {%endfor%}
    </div>
</div>




{% endblock main-tag %}