{% extends "base.html" %}
{% load static %}

{% block title-tag %}
{{ album.name}} by {{album.user }}
{% endblock title-tag %}

{% block member-menu %}
<p>You are a member</p>
{% endblock member-menu %}

{% block main-tag %}

<div class="container-fluid">
    <div class="row">
        <div class="col12 text-center">
            <h1>{{album.name}}</h1>
        </div>
        <div class="col-12">
            <p>{{album.description}}</p>
        </div>
        <div class="col-12 col-lg-4">
            {% if album.user.first_name != "" %}
            <p>Photographs taken by {{album.user.first_name}} {{album.user.last_name}}</p>
            {% else %}
            <p>Photographs taken by {{album.user.first_name}} {{album.user.last_name}}</p>
            {% endif %}
        </div>
        <div class="col-12 col-lg-4">
            <p>Number of photos i album: {{photo_count}}</p>
        </div>
        <div class="col-12 col-lg-4">
            <p>Last updated on {{album.updated_on}}</p>
        </div>
        {% for photo, comment_count in photo_pack %}
        <div class="col-12 col-sm-6 col-lg-4 col-xxl-3 col-padding text-center">
            <div class="album-thumbnail-styling">
            <a href="/albums/photo/{{photo.pk}}" class="comment-counter">
                <img src="{{photo.image.url}}" class="album-photo-thumbnail" alt="A photograph">

                {% if comment_count > 0 %}
                <br><i class="fa-solid fa-comments"></i> {{comment_count}}
                {% endif %}
            </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-12 text-center">
        <a href="/albums/" class="btn btn-light">Back to Albums</a>

    </div>
</div>


{% endblock main-tag %}

{% if user_is_member %}
<script src="{% static 'js/album.js' %}"></script>
{% endif %}