{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

<!-- In section for Login status and button for membership functions when needed -->
{% block member-menu %}

<div id="memberButtons">
    <button id="showFormButton" class="btn btn-light btn-sm">Create a new album</button>

    {% if has_albums %}

    <button id="showOwnAlbumsButton" class="btn btn-light btn-sm">View your albums</button>
</div>
<div class="container-fluid" id="ownAlbumsContainer">
    <div class="row">
        <div class="col-12">
            <ul>
                {% for album in own_albums %}

                <li class="album-list url"><a href="/albums/{{album.pk}}">{{album.name}}</a></li>

                {% endfor %}
            </ul>
        </div>
    </div>

    {% endif %}

</div>

<div id="createAlbumContainer" class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 col-xl-4">
            <p>Create a new album with a name and an optional description</p>
            <form id="createAlbumForm" action="add_album/" method="post" style="margin-top: 1.3em;">
                {{ create_album_form | crispy }}
                {% csrf_token %}
                <button id="cancelCreateButton" class="btn btn-light btn-sm">Cancel</button>
                <button id="submitButton" type="submit" class="btn btn-light btn-sm">Create your new album</button>
            </form>
        </div>
    </div>
</div>

{% endblock member-menu %}


{% block main-tag %}

<section> <!-- Album overview, including thumbnails-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Albums</h1>
            </div>
        </div>
        <div class="row">

            {% for album, photos, photo_counts in albums_preview %}

            <div class="col-12 col-md-6 col-xl-4">
                <a href="/albums/{{album.pk}}" class=" albums-link">
                    <h2>{{album}}</h2>
                    <p>{{album.description}}</p>
                    <p>
                        Photos in album: {{photo_counts}}<br>
                        Last updated: {{album.updated_on}}
                    </p>
                    <div>
                        {% for photo in photos %}
                        <div class="albums-thumbnail-styling">
                            <img src="{{photo.image.url}}" class="albums-preview-thumbnail" alt="A photograph">
                        </div>
                        {% endfor %}
                    </div>
                </a>
            </div>

            {%endfor%}

        </div>
    </div>
</section>

{% endblock main-tag %}

{% block extras %}
{% if user_is_member %}
<script src="{% static 'js/albums.js' %}"></script>
{% endif %}
{% endblock extras %}