{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title-tag %}

Photo by
{% if photo.album.user.first_name != "" %}
{{photo.album.user.first_name}} {{photo.album.user.last_name}}
{% else %}
{{photo.album.user}}
{% endif %}

{% endblock title-tag %}

<!-- In section for Login status and button for membership functions when needed -->
{% block member-menu %}

{% if user_is_owner %}

<div id="memberButtons">
    <button id="showEditButton" class="btn btn-light btn-sm">Edit photo info</button>
    <button id="deletePhotoButton" class="btn btn-light btn-sm">Delete this photo</button>
</div>
<div id="editPhotoContainer" class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 col-xl-4">
            <p>
                Update details about your photo as neccessary<br>
                If you wish to replace photo, delete this photo and<br>
                upload the replacement.
            </p>
            <p>All inputs are optional</p>
            <form id="editAlbumForm" action="{{photo.pk}}/edit_photo/" method="post" style="margin-top: 1.3em;">
                {{ edit_photo_form | crispy }}
                {% csrf_token %}
                <button id="cancelEditPhotoButton" type="button" class="btn btn-light btn-sm">Cancel</button>
                <button id="submitEditPhotomButton" type="submit" class="btn btn-light btn-sm">Update your
                    photo</button>
            </form>
        </div>
    </div>
</div>

{% endif %}

{% endblock member-menu %}


{% block main-tag %}

<section> <!-- A photo with associated information -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                {% if photo.title != "" %}

                <h1>{{photo.title}}</h1>
                <p>Photograph by {{photo.album.user}}</p>

                {% else %}

                <h1>Photograph by {{photo.album.user}}</h1>

                {% endif %}

            </div>
        </div>

        {% if photo.description != "" %}

        <div class="row">
            <div class="col-12 text-center">
                <p>{{photo.description}}</p>
            </div>
        </div>

        {% endif %}

        <div class="row">
            <div class="col-12 text-center">
                <a href="/albums/{{photo.album.pk}}" class="btn btn-light">Back to
                    {{photo.album.name}}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="photo-container">
                    <img src="{{photo.image.url}}" class="photo" alt="A photograph">
                </div>
            </div>
        </div>

        {% if photo.technical != "" %}

        <div class="row">
            <div class="col12 text-center">
                <p>Technical information: {{photo.technical}}</p>
            </div>
        </div>

        {% endif %}

    </div>
</section>

<section> <!-- Comments section -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2>Comments</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {% if photocomments_count == 0 and not user.is_authenticated %}

                <p>There are no comments to view. Log in and be the first to comment on this photograph. </p>

                {% elif photocomments_count == 0 and user.is_authenticated %}

                <p> There are no comments to view. You can be the first to provide feedback on this photograph</p>

                {% else %}

                <p>There are {{photocomments_count}} comments to view for this photo.</p>

                {% endif %}

            </div>

            {% if user.is_authenticated %}

            <div class="col-12">
                <hr>
            </div>
            <div class="col-12 col-lg-5 col-xl-4 col-xxl-3">
                <p>Leave a new comment</p>
                <p>Posting as: {{ user.username }}</p>
            </div>
            <div class="col-12 col-lg-7 col-xl-8 col-xxl-9">
                <form id="commentForm" action="/albums/photo/{{photo.pk}}/add_comment/" method="post"
                    style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-light btn-sm">Submit</button>
                </form>
            </div>

            {% endif %}

            {% for comment in photocomments %}

            <div class="col-12">
                <hr>
            </div>

            {% if not comment.approved and comment.user == user %}

            <div class="col-12 col-lg-5 col-xl-4 col-xxl-3 faded">
                <p>
                    <strong>You</strong> wrote on <em>{{ comment.created_on }}</em>:
                </p>
            </div>
            <div class="col-12 col-lg-7 col-xl-8 col-xxl-9 faded">
                <div id="comment{{comment.pk}}">
                    {{comment.comment}}
                </div>
                <p class="awaiting-approval">This comment is awaiting approval</p>
                <p>
                    <button class="btn btn-light btn-edit btn-sm" data-comment_id="{{comment.pk}}"
                        data-photo_id="{{photo.pk}}">Edit</button>
                    <button class="btn btn-light btn-delete btn-sm" data-comment_id="{{comment.pk}}"
                        data-photo_id="{{photo.pk}}">Delete</button>
                </p>
            </div>

            {% elif comment.approved %}

            <div class="col-12 col-lg-5 col-xl-4 col-xxl-3">
                <p>

                    {% if comment.user == user %}
                    <strong>You</strong> wrote on <em>{{ comment.created_on }}</em>:
                    {% else %}
                    <strong>{{ comment.user }}</strong> wrote on <em>{{ comment.created_on }}</em>:
                    {% endif %}

                </p>
            </div>
            <div class="col-12 col-lg-7 col-xl-8 col-xxl-9">
                <div id="comment{{comment.pk}}">
                    {{comment.comment}}
                </div>

                {% if user.is_authenticated and comment.user == user %}
                <p>
                    <button class="btn btn-light btn-edit btn-sm" data-comment_id="{{comment.pk}}"
                        data-photo_id="{{photo.pk}}">Edit</button>
                    <button class="btn btn-light btn-delete btn-sm" data-comment_id="{{comment.pk}}"
                        data-photo_id="{{photo.pk}}">Delete</button>
                </p>
                {% endif %}

            </div>

            {% endif %}

            {% endfor %}

        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="/albums/{{photo.album.pk}}" class="btn btn-light">Back to
                    {{photo.album.name}}</a>
            </div>
        </div>
    </div>
</section>>

<!-- Delete confirmation modal -->
<!-- Reused from Code Institute I think therefore I blog walkthrough project -->
<div class="modal fade" id="deleteCommentModal" tabindex="-1" aria-labelledby="deleteCommentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCommentModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteCommentConfirm" href="#" class="btn
          btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- Delete confirmation modal -->
<!-- Reused from Code Institute I think therefore I blog walkthrough project -->
<div class="modal fade" id="deletePhotoModal" tabindex="-1" aria-labelledby="deletePhotoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletePhotoModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this photograph and removite it from your album?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deletePhotoConfirm" href="/albums/photo/{{photo.pk}}/delete_photo/" class="btn
          btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock main-tag %}

{% block extras %}

<script src="{% static 'js/photo.js' %}"></script>

{% endblock extras %}