{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title-tag %}

Photo by
{% if photo.album.user.first_name != "" %}
{{photo.album.user.first_name}} {{photo.album.user.last_name}}
{% else %}
{{photo.album.user}}
{% endif %}

{% endblock title-tag %}

{% block member-menu %}
<p>You are a member</p>
{% endblock member-menu %}

{% block main-tag %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            {% if photo.title != "" %}
            <h1>{{photo.title}}</h1>
            <p>Photograph by
                {% if photo.album.user.first_name != "" %}
                {{photo.album.user.first_name}} {{photo.album.user.last_name}}
                {% else %}
                {{photo.album.user}}
                {% endif %}
            </p>
            {% else %}
            <h1>Photograph by
                {% if photo.album.user.first_name != "" %}
                {{photo.album.user.first_name}} {{photo.album.user.last_name}}
                {% else %}
                {{photo.album.user}}
                {% endif %}
            </h1>
            {% endif %}
        </div>
    </div>
    {% if photo.description != "" %}
    <div class="row">
        <div class="col-12 text-center">
            <p>{{photo.description}}</p>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-12 text-center">
            <div class="photo-container">
                <img src="{{photo.image.url}}" class="photo" alt="A photograph">
            </div>
        </div>
    </div>
    {% if photo.technical != "" %}
    <div class="row">
        <div class="col12 text-center">
            <p>Technical information: {{photo.technical}}</p>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-12">
            {% if photocomments_count == 0 and not user.is_authenticated %}
            <p>There are no comments to view. Log in and be the first to comment on this photograph. </p>
            {% elif photocomments_count == 0 and user.is_authenticated %}
            <p> There are no comments to view. You can be the first to provide feedback on this photograph</p>
            {% else %}
            <p>There are {{photocomments_count}} comments to view for this photo.</p>
            {% endif %}
            <table>
                {% if user.is_authenticated %}
                <tr>
                    <td>
                        <p>Leave a new comment</p>
                        <p>Posting as: {{ user.username }}</p>
                    </td>
                    <td>
                        <form id="commentForm" method="post" style="margin-top: 1.3em;">
                            {{ comment_form | crispy }}
                            {% csrf_token %}
                            <button id="submitButton" type="submit" class="btn btn-light btn-sm">Submit</button>
                        </form>
                    </td>
                </tr>
                {% endif %}

                {% for comment in photocomments %}

                {% if not comment.approved and comment.user == user %}
                <tr class="faded">
                    <td>
                        {{ comment.user }}
                        <span>
                            {{ comment.created_on }}
                        </span> wrote:
                    </td>
                    <td>
                        {{comment.comment}}
                        <p class="awaiting-approval">This comment is awaiting approval</p>
                        <p>
                            <button class="btn btn-light btn-edit btn-sm" data-comment_id="{{comment.pk}}"
                                data-photo_id="{{photo.pk}}">Edit</button>
                            <button class="btn btn-light btn-delete btn-sm" data-comment_id="{{comment.pk}}"
                                data-photo_id="{{photo.pk}}">Delete</button>
                        </p>
                    </td>
                </tr>
                {% elif comment.approved %}
                <tr>
                    <td>
                        {{ comment.user }}
                        <span>
                            {{ comment.created_on }}
                        </span> wrote:
                    </td>
                    <td>
                        <div id="comment{{ comment.pk}}">
                            {{comment.comment}}
                        </div>
                        {% if user.is_authenticated and comment.user == user %}
                        <p>
                            <button class="btn btn-light btn-edit btn-sm" data-comment_id="{{comment.pk}}"
                                data-photo_id="{{photo.pk}}">Edit</button>
                            <button class="btn btn-light btn-delete btn-sm" data-comment_id="{{comment.pk}}"
                                data-photo_id="{{photo.pk}}">Delete</button>
                        </p>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}

                <!-- Our for loop ends here -->
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a href="/albums/{{photo.album.pk}}" class="btn btn-light">Back to
                {{photo.album.name}}</a>
        </div>
    </div>
</div>

<!-- Delete confirmation modal -->
<!-- Reused from Code Institute I think therefore I blog walkthrough project -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock main-tag %}

{% block extras %}

<script src="{% static 'js/photocomments.js' %}"></script>

{% endblock extras %}